<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mondari.mapper.PointMapper">
    <!--批量插入-->
    <insert id="batchInsert">
        insert into db_example.point (`name`, x, y, z)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.name}, #{item.x}, #{item.y}, #{item.z})
        </foreach>
    </insert>
    <!--批量更新-->
    <update id="batchUpdate">
        update db_example.point
        <set>
            <trim prefix="`x` = case `name`" suffix="end,">
                <foreach collection="list" item="item">
                    <if test="item.x != null">
                        when #{item.name} then #{item.x}
                    </if>
                </foreach>
            </trim>
            <trim prefix="`y` = case `name`" suffix="end,">
                <foreach collection="list" item="item">
                    <if test="item.y != null">
                        when #{item.name} then #{item.y}
                    </if>
                </foreach>
            </trim>
            <trim prefix="`z` = case `name`" suffix="end">
                <foreach collection="list" item="item">
                    <if test="item.z != null">
                        when #{item.name} then #{item.z}
                    </if>
                </foreach>
            </trim>
        </set>
        where
        `name` in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item.name}
        </foreach>
    </update>
    <!--批量删除-->
    <delete id="batchDelete">
        delete from db_example.point
        where `name` in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item.name}
        </foreach>
    </delete>
</mapper>
